.footer {
    padding: 55px 0 44px 0;
}

.footer__container {}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

.footer__block.center {
    align-items: center;
}

.footer__block.end {
    align-items: flex-end;
}

.footer__title {
    font-family: 'Taviraj', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
}

.footer__text {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
}

.footer__block.center .footer-text__parag {
    text-align: center;
}

.footer-text__parag {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: rgba(51, 51, 51, 1);
}

.center {}

.footer-social {
    margin-top: 42px;
    display: flex;
    gap: 20px;
}

.footer-social__link {}

.footer-social__img {}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid rgba(51, 51, 51, 1);
}

.footer-bottom__root {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
}

@media(max-width: 767.98px) {
    .footer-top {
        flex-direction: column;
        gap: 52px;
    }

    .footer__block.center,
    .footer__block.end {
        align-items: flex-start;
    }


    .footer__block.center .footer-text__parag {
        text-align: left;
    }

    .footer-bottom {
        justify-content: flex-start;
    }

    .footer-bottom__root {
        text-align: left;
    }
}